# development
.github/**
.vscode/**
.vscode-test/**
doc-resource/**
node_modules/**
out/**
out-test/**
script/**
src/**
test/**
.editorconfig
.gitignore
.prettierrc.js
CONTRIBUTING.md
tsconfig.json
tsconfig.options.json
tslint.json
webpack.config.js
yarn.lock

# build dist
**/*.vsix

